<!DOCTYPE html>
<html>
<head>
    <title>Conway Game Live</title>
    <link rel="stylesheet" href="components/pure/pure-min.css">
    <script src="components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="components/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="scripts/Application.js" type="text/javascript" charset="utf-8"></script>
</head>
<body ng-app="conwayLifeApp">
    <div ng-controller="renderTable">
        <table>
            <tr ng-repeat="row in vm.matrix">
                <td ng-repeat="i in row" style="border: black 1px solid;">
                {{i.getState()}}
                </td>
            </tr>
        </table>
    </div>
</body>
</html>